extends ../public/dist/JADE-Bootstrap/layouts/cover

block TopContent
    .inner.cover
        h1.cover-heading E2へようこそ！
        p.lead E2は運動を楽しく、続けられるようにサポートするWebアプリケーションです！！
        p.lead
        a(href="#", class="btn btn-lg btn-default") Learn more