extends ../public/dist/JADE-Bootstrap/layouts/cover

block TopContent
    .inner.cover
        h1.cover-heading E2をご利用いただきありがとうございます
        p.lead E2は運動を楽しく、続けられるようサポートするWebアプリになっています。楽しく運動するにはどうしたらよいか色々考えた結果、とりあえず運動した功績を称えるため称号を与えるということになりました。
        p.lead
        p.lead もしこの他に良い案がユーザ様にあるならば是非私たちにお教えください！
        p.lead
        p.lead それでは良い運動を！